/* Reset أساسي */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* خلفية ولون الموقع */
body {
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

/* الهيدر */
header {
  background: #d35400;
  color: white;
  padding: 15px 0;
  text-align: center;
}

header h1 {
  font-size: 2rem;
}

header p {
  font-size: 1.2rem;
}

/* القايمة */
nav {
  background: #e67e22;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* المحتوى */
section {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

section h2 {
  color: #d35400;
  margin-bottom: 10px;
}

/* الفوتر */
footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
